{% extends "tourbaseen.html" %}
{% load cms_tags staticfiles%}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

	<div class="wrapper">
		<!--=== Header ===-->
		<div class="header">
			<div class="container">
				<div class="col-md-4" >
					<!-- Logo -->
					<a class="logo" href="/">
						<img src="{% static "img/yatay_logo_100x60pxl.png"%}" height="60" width="100" alt="Logo">
					</a>
					<!-- End Logo -->
				</div>


				<!-- Topbar -->
				{% include 'topbar.html' %}
				<!-- End Topbar -->

				<!-- Toggle get grouped for better mobile display -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<!-- End Toggle -->
			</div><!--/end container-->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
				<div class="container">
					<ul class="nav navbar-nav">
						<!-- Home -->
						<li class="headline">
							<a href="/bosnia-tours">
								BOSNIA TOURS
							</a>
						</li>
						<!-- End Home -->

						<!-- Pages -->
						<li class="headline">
							<a href="/balkan-tours" >
								BALKAN TOURS
							</a>
						</li>
						<!-- End Pages -->

						<!-- Portfolio -->
						<li class="headline active">
							<a href="/alternatives" >
								ALTERNATIVE TOURS
							</a>
						</li>
						<!-- End Portfolio -->

						<!-- Cities -->
						<li class="headline">
							<a href="/cities">
								CITIES
							</a>
						</li>
						<!-- End Cities -->

						<!-- Features -->
						<li class="headline">
							<a href="/rentacar">
								RENT-A-CAR
							</a>
						</li>
						<!-- End Features -->
					</ul>
				</div><!--/end container-->
			</div>
			<!--/navbar-collapse-->

		</div>
		<!--=== End Header ===-->

		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">ALTERNATIVE TOURS</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="/">Home</a></li>
					<li class="active">Alternative Tours</li>
				</ul>
			</div>
		</div><!--/breadcrumbs-->
		<!--=== End Breadcrumbs ===-->

		<!--=== Content Part ===-->
		<div class="container content-md">
		{% include 'topsocialbar.html'%}


			<div class="col-md-12 md-margin-bottom-40">
				<!--Inversed and Rounded Buttons-->
				<div class="row brand-page margin-bottom-40">
							<div class="col-sm-6 col-md-2">
								<a href="#fishing">
									<button class="btn btn-block btn-html5-inversed rounded" >Fishing</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-3">
								<a href="#camping">
								<button class="btn btn-block btn-html5-inversed rounded">Camping
								</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-2">
								<a href="#aticilik">
								<button class="btn btn-block btn-html5-inversed rounded">Shooting
								</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-3">
								<a href="#parachute">
								<button class="btn btn-block btn-html5-inversed rounded">Paragliding
								</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-2">
								<a href="#trekking">
								<button class="btn btn-block btn-html5-inversed rounded">Trekking
								</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-1">
								<a href="#rafting">
								<button class="btn btn-block btn-html5-inversed rounded">Rafting
								</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-2">
								<a href="#skiing">
								<button class="btn btn-block btn-html5-inversed rounded">Skiing
								</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-3">
								<a href="#cave">
								<button class="btn btn-block btn-html5-inversed rounded">Caves
								</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-3">
								<a href="#horsebackriding">
								<button class="btn btn-block btn-html5-inversed rounded">Horseback Riding
								</button>
							</div>
							<div class="col-sm-6 col-md-3">
								<a href="#pyramit">
								<button class="btn btn-block btn-html5-inversed rounded">Pyramids
								</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-2">
								<a href="#donkey">
								<button class="btn btn-block btn-html5-inversed rounded">Donkey Farm
								</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-3">
								<a href="#iceskating">
								<button class="btn btn-block btn-html5-inversed rounded">Ice Skating
								</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-3">
								<a href="#titosbanker">
								<button class="btn btn-block btn-html5-inversed rounded">Tito's Banker
								</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-2">
								<a href="#sosvillage">
								<button class="btn btn-block btn-html5-inversed rounded">SOS Village
								</button>
								</a>
							</div>
							<div class="col-sm-6 col-md-2">
								<a href="#termal">
								<button class="btn btn-block btn-html5-inversed rounded">Spa
								</button>
								</a>
							</div>
						</div>
				<!--Inversed and Rounded Buttons-->

				<!-- Alternative Tours -->
				<div class="row news-v2">
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="fishing">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/balikcilik.jpg"%}" alt="">
									<p>
										<span>€ 50</span>
									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Fishing</h3>
									{% placeholder 'Alternatives-fishing' %}
								</div>
							</div>
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="camping">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/kamping.jpg"%}" alt="">
									<p>
										<span>€ 80</span>
										
									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Camping</h3>
									{% placeholder 'Alternatives-camping' %}
								</div>
							</div>
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="parachute">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/yamacparasutu.jpg"%}" alt="">
									<p>
										<span>€ 100</span>

									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Paragliding</h3>
									{% placeholder 'Alternatives-paragliding' %}
								</div>
							</div>
						</div>
				<br>
				<div class="row news-v2">
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="trekking">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/treking.jpg"%}" alt="">
									<p>
										<span>€ 80</span>
									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Trekking</h3>
									{% placeholder 'Alternatives-trekking' %}
								</div>
							</div>
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="aticilik">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/aticilik.jpg"%}" alt="">
									<p>
										<span>€ 50</span>

									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Shooting</h3>
									{% placeholder 'Alternatives-shooting' %}
								</div>
							</div>
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="cave">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/cave.jpg"%}" alt="">
									<p>
										<span>€ 80</span>

									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Caves</h3>
									{% placeholder 'Alternatives-caves' %}
								</div>
							</div>
						</div>
				<br>
				<div class="row news-v2">
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="horsebackriding">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/atbinicilik.jpg"%}" alt="">
									<p>
										<span>€ 20</span>

									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Horseback Riding</h3>
									{% placeholder 'Alternatives-horsebackriding' %}
								</div>
							</div>
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="pyramit">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/piramit.jpg"%}" alt="">
									<p>
										<span>€ 50</span>

									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Pyramids</h3>
									{% placeholder 'Alternatives-pyramids' %}
								</div>
							</div>
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="iceskating">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/buzpateni.jpg"%}" alt="">
									<p>
										<span>€ 20</span>

									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Ice Skating</h3>
									{% placeholder 'Alternatives-iceskating' %}
								</div>
							</div>
						</div>
				<br>
				<div class="row news-v2">
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="skiing">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/kayak.jpg"%}" alt="">
									<p>
										<span>€ 60</span>

									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Skiing</h3>
									{% placeholder 'Alternatives-skiing' %}
								</div>
							</div>
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="rafting">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/rafting.jpg"%}" alt="">
									<p>
										<span>€ 60</span>

									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Rafting</h3>
									{% placeholder 'Alternatives-rafting' %}
								</div>
							</div>
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="titosbanker">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/titonunsiginagi.jpg"%}" alt="">
									<p>
										<span>€ 20</span>

									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Tito's Banker</h3>
									{% placeholder 'Alternatives-banker' %}
								</div>
							</div>
						</div>
				<br>
				<div class="row news-v2">
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="donkey">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/esekciftligi.jpg"%}" alt="">
									<p>
										<span>€ 40</span>

									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Donkey Farm</h3>
									{% placeholder 'Alternatives-donkey' %}
								</div>
							</div>
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="sosvillage">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/soskoyu.jpg"%}" alt="">
									<p>
										<span>€ 20</span>

									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>SOS Village</h3>
									{% placeholder 'Alternatives-sos' %}
								</div>
							</div>
							<div class="col-md-4 sm-margin-bottom-30">
								<div class="news-v2-badge" id="termal">
									<img class="img-responsive" src="{% static "img-temp/alternatives/thumbs/kaplica.jpg"%}" alt="">
									<p>
										<span>€ 20</span>

									</p>
								</div>
								<div class="news-v2-desc bg-color-light">
									<h3>Spa</h3>
									{% placeholder 'Alternatives-spa' %}
								</div>
							</div>
						</div>
				<!-- End Alternative Tours -->

			</div>

		</div>

		<!--=== End Content Part ===-->


		{% include 'footer.html' %}
	</div><!--/wrapper-->

	<!--=== Style Switcher ===-->
	<i class="style-switcher-btn fa fa-cogs hidden-xs"></i>
	<div class="style-switcher animated fadeInRight">
		<div class="style-swticher-header">
			<div class="style-switcher-heading">Style Switcher</div>
			<div class="theme-close"><i class="icon-close"></i></div>
		</div>

		<div class="style-swticher-body">
			<!-- Theme Colors -->
			<div class="style-switcher-heading">Theme Colors</div>
			<ul class="list-unstyled">
				<li class="theme-default theme-active" data-style="default" data-header="light"></li>
				<li class="theme-blue" data-style="blue" data-header="light"></li>
				<li class="theme-orange" data-style="orange" data-header="light"></li>
				<li class="theme-red" data-style="red" data-header="light"></li>
				<li class="theme-light" data-style="light" data-header="light"></li>
				<li class="theme-purple last" data-style="purple" data-header="light"></li>
				<li class="theme-aqua" data-style="aqua" data-header="light"></li>
				<li class="theme-brown" data-style="brown" data-header="light"></li>
				<li class="theme-dark-blue" data-style="dark-blue" data-header="light"></li>
				<li class="theme-light-green" data-style="light-green" data-header="light"></li>
				<li class="theme-dark-red" data-style="dark-red" data-header="light"></li>
				<li class="theme-teal last" data-style="teal" data-header="light"></li>
			</ul>

			<!-- Theme Skins -->
			<div class="style-switcher-heading">Theme Skins</div>
			<div class="row no-col-space margin-bottom-20 skins-section">
				<div class="col-xs-6">
					<button data-skins="default" class="btn-u btn-u-xs btn-u-dark btn-block active-switcher-btn handle-skins-btn">Light</button>
				</div>
				<div class="col-xs-6">
					<button data-skins="dark" class="btn-u btn-u-xs btn-u-dark btn-block skins-btn">Dark</button>
				</div>
			</div>

			<hr>

			<!-- Layout Styles -->
			<div class="style-switcher-heading">Layout Styles</div>
			<div class="row no-col-space margin-bottom-20">
				<div class="col-xs-6">
					<a href="javascript:void(0);" class="btn-u btn-u-xs btn-u-dark btn-block active-switcher-btn wide-layout-btn">Wide</a>
				</div>
				<div class="col-xs-6">
					<a href="javascript:void(0);" class="btn-u btn-u-xs btn-u-dark btn-block boxed-layout-btn">Boxed</a>
				</div>
			</div>

			<hr>

			<!-- Theme Type -->
			<div class="style-switcher-heading">Theme Types and Versions</div>
			<div class="row no-col-space margin-bottom-10">
				<div class="col-xs-6">
					<a href="E-Commerce/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">Shop UI <small class="dp-block">Template</small></a>
				</div>
				<div class="col-xs-6">
					<a href="One-Pages/Classic/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">One Page <small class="dp-block">Template</small></a>
				</div>
			</div>

			<div class="row no-col-space">
				<div class="col-xs-6">
					<a href="Blog-Magazine/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">Blog <small class="dp-block">Template</small></a>
				</div>
				<div class="col-xs-6">
					<a href="RTL/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">RTL <small class="dp-block">Version</small></a>
				</div>
			</div>
		</div>
	</div><!--/style-switcher-->
	<!--=== End Style Switcher ===-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="{% static "plugins/jquery/jquery.min.js"%}"></script>
	<script type="text/javascript" src="{% static "plugins/jquery/jquery-migrate.min.js"%}"></script>
	<script type="text/javascript" src="{% static "plugins/bootstrap/js/bootstrap.min.js"%}"></script>
	<!-- JS Implementing Plugins -->
	<!--<script type="text/javascript" src="{% static "plugins/back-to-top.js"%}"></script>-->
	<script type="text/javascript" src="{% static "plugins/smoothScroll.js"%}"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="{% static "js/custom.js"%}"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="{% static "js/app.js"%}"></script>
	<script type="text/javascript" src="{% static "js/plugins/style-switcher.js"%}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
	<!--[if lt IE 9]>
    <script src="{% static "plugins/respond.js"%}"></script>
    <script src="{% static "plugins/html5shiv.js"%}"></script>
    <script src="{% static "plugins/placeholder-IE-fixes.js"%}"></script>
  <![endif]-->
{% endblock content %}
