
{% load cms_tags staticfiles%}

		<!--=== Footer Version 1 ===-->
		<div class="footer-v1">
			<div class="footer">
				<div class="container">
					<div class="row">
						<!-- About -->
						<div class="col-md-3">
							<div class="headline"><h2>BRIGHT TRAVEL</h2></div>
							<ul class="list-unstyled who margin-bottom-10">
								<li><a href="https://www.facebook.com/Bright-Travel-1629987677029220/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
												<i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/BosniaBright" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
												<i class="fa fa-twitter"></i></a>
									<a href="https://www.instagram.com/bright.tours/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
												<i class="fa fa-instagram"></i></a>
								</li>
								<li><i class="fa fa-home"></i><font color="white">Pijacna br. 8, Sarajevo 71000, Bosnia and Herzegovina</font></li>
								<li><i class="fa fa-envelope"></i><font color="white">info@bright.tours</font></li>
								<li><i class="fa fa-phone"></i><font color="white">+387-62-608-123</font></li>
								<li><i class="fa fa-globe"></i><font color="white">http://www.brighttravel.tours</font></li>
								<li><img id="logo-footer"  src="{% static "img-temp/logo/viber.png"%}"  height="30" width="30"  alt=""></a>
									<img id="logo-footer"  src="{% static "img-temp/logo/whatsapp.png"%}"  height="30" width="30"  alt=""></a>
									<img id="logo-footer"  src="{% static "img-temp/logo/line.png"%}"  height="40" width="40"  alt=""></a>
									<img id="logo-footer"  src="{% static "img-temp/logo/kakao.png"%}"  height="30" width="30"  alt=""></a>
								</li>
								<li><i class="fa fa-mobile"></i><font color="white">+387-62-608-123</font></li>
								<li>
									<a href="/"><img id="logo-footer"  src="{% static "img/dikey_logo_100x80pxl.png"%}"  height="80" width="100"  alt=""></a>

								</li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End About -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-10">
							<div class="headline"><h2>ALTERNATIVE TOURS</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="/alternatives">Rafting</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Skiing</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Horseback Riding</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Ice Skating</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Shooting</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Fishing</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Donkey Farm</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Camping</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Paragliding</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">More ...</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End Link List -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-10">
							<div class="headline"><h2>BOSNIA TOURS</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="/bosnia-tours/dailytours">DAILY TOURS</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours/sms-tour">Sarajevo-Mostar-Sarajevo</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours/smt-tour">Sarajevo-Mostar-Travnik</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours/8d7n-tour">8 Days 7 Nights Bosnia Tour</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours/12d11n-tour">12 Days 11 Nights Bosnia Tour</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End Link List -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-10">
							<div class="headline"><h2>BALKAN TOURS</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="/balkan-tours/adriatic-pearl">ADRIATIC PEARLS</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours/green-blue-dream-adriatic">GREEN & BLUE DREAM IN ADRIATIC</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours/venice-sarajevo">VENICE - SARAJEVO</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours/fantastic-balkans">FANTASTIC BALKANS</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours/bosnia-croatia">BOSNIA - CROATIA</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End Link List -->
					</div>
				</div>
			</div><!--/footer-->

			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>2017 &copy; All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer Version 1 ===-->