
{% load cms_tags staticfiles%}

		<!--=== Footer Version 1 ===-->
		<div class="footer-v1">
			<div class="footer">
				<div class="container">
					<div class="row">
						<!-- About -->
						<div class="col-md-3">
							<div class="headline"><h2>BRIGHT TRAVEL</h2></div>
							<ul class="list-unstyled who margin-bottom-10">
								<li><a href="https://www.facebook.com/Bright-Travel-1629987677029220/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
												<i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/BosniaBright" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
												<i class="fa fa-twitter"></i></a>
									<a href="https://www.instagram.com/bright.tours/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
												<i class="fa fa-instagram"></i></a>
								</li>
								<li><i class="fa fa-home"></i><font color="white">Pijacna br. 8, Sarajevo 71000, Bosnia and Herzegovina</font></li>
								<li><i class="fa fa-envelope"></i><font color="white">info@bright.tours</font></li>
								<li><i class="fa fa-phone"></i><font color="white">+387-61-089517</font></li>
								<li><i class="fa fa-globe"></i><font color="white">http://www.bright.tours</font></li>
								<li><img id="logo-footer"  src="{% static "img-temp/logo/viber.png"%}"  height="30" width="30"  alt=""></a>
									<img id="logo-footer"  src="{% static "img-temp/logo/whatsapp.png"%}"  height="30" width="30"  alt=""></a>
									<img id="logo-footer"  src="{% static "img-temp/logo/line.png"%}"  height="40" width="40"  alt=""></a>
									<img id="logo-footer"  src="{% static "img-temp/logo/kakao.png"%}"  height="30" width="30"  alt=""></a>
								</li>
								<li><i class="fa fa-mobile"></i><font color="white">+387-61-089517</font></li>
								<li>
									<a href="/"><img id="logo-footer"  src="{% static "img/logo_beyaz.png"%}"  height="80" width="100"  alt=""></a>

								</li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End About -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-10">
							<div class="headline"><h2>ALTERNATİF TURLAR</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="/alternatives">Rafting</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Kayak</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">At Binicilik</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Buz Pateni</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Atıcılık</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Balıkçılık</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Eşek Çiftliği</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Dağ Kampı</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Yamaç Paraşutu</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Daha Fazlası ...</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End Link List -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-10">
							<div class="headline"><h2>BOSNA TURLARI</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="/bosnia-tours/dailytours">GÜNÜ BİRLİK TURLAR</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours/sarajevo-tour">Saraybosna</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours/sm-tour">Saraybosna-Mostar</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours/smt-tour">Saraybosna-Mostar-Travnik</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours/smts-tour">Saraybosna-Mostar-Travnik Saraybosna</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours/smjs-tour">Saraybosna-Mostar-Jajce</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours/smvt-tour">Saraybosna-Mostar-Travnik-Vişegrad</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End Link List -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-10">
							<div class="headline"><h2>BALKAN TURLARI</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="/balkan-tours/hk-tour">ADRİYATİK</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours/albania1-tour">ARNAVUTLUK-1</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours/albania2-tour">ARNAVUTLUK-2</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours/bb-tour">BÜYÜK BALKANLAR</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours/km-tour">KOSOVA-MAKEDONYA</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours/bk-tour">BOSNA HERSEK-KARADAĞ</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours/bs-tour">BOSNA HERSEK-SIRBİSTAN</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours/bkkm-tour">BOSNA HERSEK-KARADAĞ-KOSOVA-MAKEDONYA</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End Link List -->
					</div>
				</div>
			</div><!--/footer-->

			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>2017 &copy; All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer Version 1 ===-->