{% extends "baseen2.html" %}
{% load cms_tags staticfiles%}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<main class="wrapper">
	<!--=== Header ===-->
	<nav class="one-page-header navbar navbar-default navbar-fixed-top one-page-nav-scrolling one-page-nav__fixed" data-role="navigation">
		<div class="container">
			<div class="menu-container page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<div class="menu-container">
					<a href="#body">
						<img src="{% static "img/new_200x100pxl.png"%}" height="100" width="200" alt="BRIGHT TRAVEL">
					</a>
					<ul class="nav navbar-nav">
						<li class="page-scroll">
							<a href="/bosnia-tours"><span data-hover="BOSNIA TOURS">BOSNIA TOURS</span></a>
						</li>
						<li class="page-scroll">
							<a href="/balkan-tours"><span data-hover="BALKAN TOURS">BALKAN TOURS</span></a>
						</li>
						<li class="page-scroll">
							<a href="/alternatives"><span data-hover="ALTERNATIVE TOURS">ALTERNATIVE TOURS</span></a>
						</li>
						<li class="page-scroll">
							<a href="/cities"><span data-hover="CITIES">CITIES</span></a>
						</li>
						<li class="page-scroll">
							<a href="/rentacar"><span data-hover="RENT-A-CAR">RENT-A-CAR</span></a>
						</li>
						<li class="page-scroll">
							<a href="/contact"><span data-hover="CONTACT">CONTACT</span></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!--=== End Header ===-->

	<!-- Promo Section -->
	<div class="promo-section master-slider ms-promo-1" id="masterslider-promo">

		<!-- Slide 1 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/sarajevosebil3.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				From <strong>120€</strong>
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				BOSNIA TOURS
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unforgetable trips</p>
				<p><a href="/bosnia-tours" class="btn-u btn-u-lg btn-u-red btn-u-upper"><span class="visible-3xs">BOSNIA TOURS - </span>MORE</a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/sarajevosebil3.jpg"%}" alt="ALT">
		</div>
		<!-- End Slide 1 -->

		<!-- Slide 2 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/kotor.jpg"%}" alt="ALT"/>
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				From <strong>195€</strong>
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				BALKAN TOURS
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unforgetable trips</p>
				<p><a href="/balkan-tours/bk-tour" class="btn-u btn-u-lg btn-u-red btn-u-upper"><span class="visible-3xs">DAILY TOURS - </span>More</a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/kotor.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 2 -->

		<!-- Slide 3 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/travnik.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				From <strong>45€</strong>
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				DAILY TOURS
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="10" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unforgetable trips</p>
				<p><a href="/balkan-tours/bs-tour" class="btn-u btn-u-lg btn-u-red btn-u-upper"><span class="visible-3xs">DAILY TOURS - </span>More</a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/travnik.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 3 -->

		<!-- Slide 4 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/rafting2.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				From <strong>30€</strong>
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" line-height="50px" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				ALTERNATIVE TOURS
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unforgetable trips</p>
				<p><a href="/balkan-tours/km-tour" class="btn-u btn-u-lg btn-u-red btn-u-upper"><span class="visible-3xs">ALTERNATIVE TOURS - </span>More</a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/rafting2.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 4 -->

		<!-- Slide 5 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/rentacar.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				From <strong>50€</strong>
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				RENT-A-CAR
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unforgetable trips</p>
				<p><a href="/balkan-tours/bkkm-tour" class="btn-u btn-u-lg btn-u-red btn-u-upper"><span class="visible-3xs">RENT-A-CAR - </span>More</a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/rentacar.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 5 -->

		<!-- Slide 6 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/hotelroom.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				From <strong>40€</strong>
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				HOTEL RESERVATION
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unforgetable trips</p>
				<p><a href="/balkan-tours/adriatic-pearl" class="btn-u btn-u-lg btn-u-red btn-u-upper"><span class="visible-3xs">HOTELS - </span>More</a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/hotelroom.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 6 -->
	</div>
	<!-- End Promo Section -->

	<!-- Bosna Tours 2 Section -->
	<div class="popular-tours text-center g-heading-v8 g-pt-40 g-pb-20" id="Popular-Tours">
		<div class="container">
			<h2 class="h2"> <strong>Bosnia and Herzevogina</strong> tours</h2>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<p class="g-mb-40">You may enjoy your vacation better by joining one of our tours.</p>
				</div>
			</div>

			<div class="row text-left">

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosnia-tours/middlesize/mostar.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>195€</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3>Sarajevo - Mostar - Sarajevo</h3>
								<p>3 days 2 nights</p>
							</div>
						</div>
						<a href="/bosnia-tours/sms-tour" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosnia-tours/middlesize/miljackanehri.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>244€</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3>Sarajevo - Mostar - Travnik</h3>
								<p>3 days 2 nights</p>
							</div>
						</div>
						<a href="/bosnia-tours/smt-tour" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 4 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosnia-tours/middlesize/jajce.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>275€</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3>8 Days 7 Nights Bosnian Tour</h3>
								<p>8 days 7 nights</p>
							</div>
						</div>
						<a href="/bosnia-tours/8d7n-tour" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 4 -->

				<!-- Item 4 -->
				<div class="col-md-4 col-md-offset-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosnia-tours/middlesize/travnik.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>275€</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3>12 Days 11 Nights Bosnian Tour</h3>
								<p>12 days 11 nights</p>
							</div>
						</div>
						<a href="/bosnia-tours/8d7n-tour" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 4 -->
			</div>
		</div>
	</div>
	<!-- End Bosnia Tours2 Section -->

	<!-- Balkan Tours Section -->
	<div class="special-purposes text-center g-heading-v8  g-pb-20" id="Purposes">
		<div class="container">
			<div class="row g-mb-20">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="h2"><strong>Balkan</strong> Tours</h2>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<p class="g-mb-40">You may enjoy your vacation better by joining one of our tours.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row text-left">
				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkan-tours/thumbs/bascarsi.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>195€</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3>Venice - Sarajevo</h3>
								<p>7 nights 8 days</p>
							</div>
						</div>
						<a href="/balkan-tours/venice-sarajevo" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkan-tours/thumbs/karadag.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>245€</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3>Green & Blue Dream in Adriatic</h3>
								<p>8 nights 9 days</p>
							</div>
						</div>
						<a href="/balkan-tours/green-blue-dream-adriatic" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkan-tours/thumbs/kotor.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>350€</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3>Adriatic Pearl</h3>
								<p>6 nights 7 days</p>
							</div>
						</div>
						<a href="/balkan-tours/adriatic-pearl" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4  col-md-offset-2 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkan-tours/thumbs/pristina-iskenderbeymeydani.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>350€</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3>Fantastic Balkans</h3>
								<p>13 nights 14 days</p>
							</div>
						</div>
						<a href="/balkan-tours/fantastic-balkans" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 4 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkan-tours/thumbs/croatia.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>450€</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3>Bosnia - Croatia</h3>
								<p>4 nights 5 days</p>
							</div>
						</div>
						<a href="/balkan-tours/bosnia-croatia" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 4 -->
			</div>



		</div>
	</div>
	<!-- End Balkan Tours Section -->

	<!-- Alternatives -->
	<div class="our-service-section text-center g-heading-v8 equal-height-columns" id="Services">
		<div class="container-fluid">
			<div class="row">
				<!-- Service Info -->
				<div class="col-md-3 our-service-info equal-height-column">
					<h2 class="h2"><br> <strong>Alternative</strong> Tours</h2>
					<p>Enjoyable time with your family</p>
				</div>
				<!-- End Service Info -->

				<div class="col-md-9 our-services-list-wrapper">
					<div class="our-services-list">
						<!-- Item 1 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/kayak.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Skiing</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">More</a>
						</div>
						<!-- End Item 1 -->

						<!-- Item 2 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/atbinicilik.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Hourseback Riding</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">More</a>
						</div>
						<!-- End Item 2 -->

						<!-- Item 3 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/piramit.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Pyramids</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">More</a>
						</div>
						<!-- End Item 3 -->

						<!-- Item 4 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/rafting.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Rafting</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">More</a>
						</div>
						<!-- End Item 4 -->

						<!-- Item 6 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/yamacparasutu.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Paragliding</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">More</a>
						</div>
						<!-- End Item 6 -->

						<!-- Item 6 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/titonunsiginagi.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Tito's Banker</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">More</a>
						</div>
						<!-- End Item 6 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Alternatives -->
	<hr>
	<!-- Contact Section -->
		{% include 'footer.html' %}
	<!-- End Contact Section -->
</main>

<!-- JS Global Compulsory -->
<script src="{% static "plugins/jquery/jquery.min.js"%}"></script>
<script src="{% static "plugins/jquery/jquery-migrate.min.js"%}"></script>
<script src="{% static "plugins/bootstrap/js/bootstrap.min.js"%}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static "plugins/smoothScroll.js"%}"></script>
<script src="{% static "plugins/jquery.easing.min.js"%}"></script>
<script src="{% static "plugins/owl-carousel2/owl.carousel.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"%}"></script>
<script src="{% static "plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script>
<script src="{% static "js/plugins/gmaps-ini.js"%}"></script>
<script src="{% static "plugins/master-slider/masterslider/masterslider.min.js"%}"></script>

<!-- JS Page Level -->
<script src="{% static "js/one.app.js"%}"></script>
<script src="{% static "js/plugins/owl-carousel2.js"%}"></script>
<script src="{% static "js/plugins/datepicker.js"%}"></script>
<script src="{% static "js/plugins/promo.js"%}"></script>
<script src="{% static "js/plugins/testimonials.js"%}"></script>
<script src="{% static "js/plugins/gallery.js"%}"></script>
<script src="{% static "js/forms/contact.js"%}"></script>

<script>
$(function() {
	App.init();
	OwlCarousel.initOwlCarousel();
	Datepicker.initDatepicker();
	ContactForm.initContactForm();
});
</script>

<!--[if lt IE 10]>
	<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"%}"></script>
<![endif]-->

{% endblock content %}
