{% extends "baseen2.html" %}
{% load cms_tags staticfiles%}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<main class="wrapper">
	<!--=== Header ===-->
	<nav class="one-page-header navbar navbar-default navbar-fixed-top one-page-nav-scrolling one-page-nav__fixed" data-role="navigation">
		<div class="container">
			<div class="menu-container page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<div class="menu-container">
					<a href="#body">
						<img src="{% static "img/logo_turkuaz.png"%}" height="100" width="200" alt="BRIGHT TRAVEL">
					</a>
					<ul class="nav navbar-nav">
						<li class="page-scroll">
							<a href="/bosnia-tours"><span data-hover="BOSNA TURLARI">BOSNA TURLARI</span></a>
						</li>
						<li class="page-scroll">
							<a href="/balkan-tours"><span data-hover="BALKAN TURLARI">BALKAN TURLARI</span></a>
						</li>
						<li class="page-scroll">
							<a href="/alternatives"><span data-hover="ALTERNATIF TURLAR">ALTERNATİF TURLAR</span></a>
						</li>
						<li class="page-scroll">
							<a href="/cities"><span data-hover="ŞEHİRLER">ŞEHİRLER</span></a>
						</li>
						<li class="page-scroll">
							<a href="/rentacar"><span data-hover="ARAÇ KİRALAMA">ARAÇ KİRALAMA</span></a>
						</li>
						<li class="page-scroll">
							<a href="/contact"><span data-hover="İLETİŞİM">İLETİŞİM</span></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!--=== End Header ===-->

	<!-- Promo Section -->
	<div class="promo-section master-slider ms-promo-1" id="masterslider-promo">

		<!-- Slide 1 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/sarajevosebil3.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>120€</strong>'den başlayan fiyatlar
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				BOSNA HERSEK TURLARI
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/bosnia-tours" class="btn-u btn-u-lg btn-u-red btn-u-upper"><span class="visible-3xs">BOSNA HERSEK TURLARI - </span>Ayrıntılar</a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/sarajevosebil3.jpg"%}" alt="ALT">
		</div>
		<!-- End Slide 1 -->

		<!-- Slide 2 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/kotor.jpg"%}" alt="ALT"/>
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>195€</strong>'den başlayan fiyatlar
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				BALKAN TURLARI
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/balkan-tours/bk-tour" class="btn-u btn-u-lg btn-u-red btn-u-upper"><span class="visible-3xs">BALKAN TURLARI - </span>Ayrıntılar</a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/kotor.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 2 -->

		<!-- Slide 3 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/travnik.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>45€</strong>'den başlayan fiyatlar
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				GÜNÜ BİRLİK TURLAR
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="10" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/balkan-tours/bs-tour" class="btn-u btn-u-lg btn-u-red btn-u-upper"><span class="visible-3xs">GÜNÜ BİRLİK TURLAR - </span>Ayrıntılar</a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/travnik.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 3 -->

		<!-- Slide 4 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/rafting2.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>30€</strong>'den başlayan fiyatlar
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" line-height="50px" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				ALTERNATİF TURLAR
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/balkan-tours/km-tour" class="btn-u btn-u-lg btn-u-red btn-u-upper"><span class="visible-3xs">ALTERNATİF TURLAR - </span>Ayrıntılar</a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/rafting2.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 4 -->

		<!-- Slide 5 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/rentacar.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>50€</strong>'den başlayan fiyatlar
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				ARAÇ KİRALAMA
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/balkan-tours/bkkm-tour" class="btn-u btn-u-lg btn-u-red btn-u-upper"><span class="visible-3xs">ARAÇ KİRALAMA - </span>Ayrıntılar</a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/rentacar.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 5 -->

		<!-- Slide 6 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/croatia.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>425€</strong>'den başlayan fiyatlar
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				ADRİYATİK
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/balkan-tours/hk-tour" class="btn-u btn-u-lg btn-u-red btn-u-upper"><span class="visible-3xs">ADRİYATİK - </span>Ayrıntılar</a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/croatia.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 6 -->
	</div>
	<!-- End Promo Section -->

	<!-- Bosna Tours 2 Section -->
	<div class="popular-tours text-center g-heading-v8 g-pt-40 g-pb-20" id="Popular-Tours">
		<div class="container">
			<h2 class="h2"> <strong>Bosna Hersek</strong> turları</h2>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<p class="g-mb-40">Bosna Hersekte geçireceğiniz tatilinizi turlarımızdan birine katılarak daha eğlenceli bir hale dönüştürebilirsiniz.</p>
				</div>
			</div>

			<div class="row text-left">

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosnia-tours/middlesize/sarajevosebil3.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>120€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Saraybosna</h3>
								<p>1 gece 2 gün </p>
							</div>
						</div>
						<a href="/bosnia-tours/sarajevo-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosnia-tours/middlesize/mostar.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>195€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Saraybosna - Mostar </h3>
								<p>1 gece 2 gün</p>
							</div>
						</div>
						<a href="/bosnia-tours/sm-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosnia-tours/middlesize/travnik.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>195€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Saraybosna - Mostar - Travnik</h3>
								<p>2 gece 3 gün</p>
							</div>
						</div>
						<a href="/bosnia-tours/smt-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosnia-tours/middlesize/miljackanehri.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>244€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Saraybosna - Mostar - Travnik - Saraybosna</h3>
								<p>3 gece 4 gün</p>
							</div>
						</div>
						<a href="/bosnia-tours/smts-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 4 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosnia-tours/middlesize/jajce.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>275€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Saraybosna - Mostar - Jajce - Saraybosna</h3>
								<p>3 gece 4 gün</p>
							</div>
						</div>
						<a href="/bosnia-tours/smjs-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 4 -->

				<!-- Item 4 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosnia-tours/middlesize/visegrad.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>275€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Saraybosna - Mostar - Vişegrad - Saraybosna</h3>
								<p>3 gece 4 gün</p>
							</div>
						</div>
						<a href="/bosnia-tours/smvt-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 4 -->
			</div>
		</div>
	</div>
	<!-- End Bosnia Tours2 Section -->

	<!-- Balkan Tours Section -->
	<div class="special-purposes text-center g-heading-v8  g-pb-20" id="Purposes">
		<div class="container">
			<div class="row g-mb-20">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="h2"><strong>Balkan</strong> Turları</h2>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<p class="g-mb-40">Balkanlarda geçireceğiniz tatilinizi turlarımızdan birine katılarak daha eğlenceli bir hale dönüştürebilirsiniz.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row text-left">
				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkan-tours/thumbs/beratsehir.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>195€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Arnavutluk-1</h3>
								<p>2 gece 3 gün</p>
							</div>
						</div>
						<a href="/balkan-tours/albania1-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkan-tours/thumbs/iskodra-kursunlucamii2.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>245€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Arnavutluk-2</h3>
								<p>3 gece 4 gün</p>
							</div>
						</div>
						<a href="/balkan-tours/albania2-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkan-tours/thumbs/kotor.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>350€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Bosna Hersek - Karadağ</h3>
								<p>4 gece 5 gün</p>
							</div>
						</div>
						<a href="/balkan-tours/bk-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkan-tours/thumbs/serbia.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>350€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Bosna Hersek - Sırbistan</h3>
								<p>4 gece 5 gün</p>
							</div>
						</div>
						<a href="/balkan-tours/bs-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 4 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkan-tours/thumbs/macedonia.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>450€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Bosna Hersek - Karadağ - Kosova - Makedonya</h3>
								<p>6 gece 7 gün</p>
							</div>
						</div>
						<a href="/balkan-tours/bkkm-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 4 -->

				<!-- Item 4 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkan-tours/thumbs/croatia.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>425€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Adriyatik</h3>
								<p>4 gece 5 gün</p>
							</div>
						</div>
						<a href="/balkan-tours/hk-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 4 -->

				<!-- Item 4 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkan-tours/thumbs/pristina-iskenderbeymeydani.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>250€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Kosova - Makedonya</h3>
								<p>3 gece 4 gün</p>
							</div>
						</div>
						<a href="/balkan-tours/km-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 4 -->

				<!-- Item 4 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img  src="{% static "img-temp/balkan-tours/thumbs/karadag.jpg"%}"alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>250€</strong>'den başlayan fiyatlar</div>
							<div class="popular-tours-item-info-inner">
								<h3>Büyük Balkanlar</h3>
								<p>7 gece 8 gün</p>
							</div>
						</div>
						<a href="/balkan-tours/km-tour" class="popular-tours-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Item 4 -->
			</div>



		</div>
	</div>
	<!-- End Balkan Tours Section -->

	<!-- Alternatives -->
	<div class="our-service-section text-center g-heading-v8 equal-height-columns" id="Services">
		<div class="container-fluid">
			<div class="row">
				<!-- Service Info -->
				<div class="col-md-3 our-service-info equal-height-column">
					<h2 class="h2"><br> <strong>Alternatif</strong> Turlar</h2>
					<p>Ailenizle güzel vakit geçirebileceğiniz aktiviteler.</p>
				</div>
				<!-- End Service Info -->

				<div class="col-md-9 our-services-list-wrapper">
					<div class="our-services-list">
						<!-- Item 1 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/kayak.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Kayak</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar</a>
						</div>
						<!-- End Item 1 -->

						<!-- Item 2 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/atbinicilik.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Ata Binme</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar</a>
						</div>
						<!-- End Item 2 -->

						<!-- Item 3 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/piramit.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Bosna Piramidleri</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar</a>
						</div>
						<!-- End Item 3 -->

						<!-- Item 4 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/rafting.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Rafting</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar</a>
						</div>
						<!-- End Item 4 -->

						<!-- Item 6 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/yamacparasutu.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Yamaç Paraşutu</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar</a>
						</div>
						<!-- End Item 6 -->

						<!-- Item 6 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/titonunsiginagi.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Tito'nun Sığınağı</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar</a>
						</div>
						<!-- End Item 6 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Alternatives -->
	<hr>
	<!-- Contact Section -->
		{% include 'footer.html' %}
	<!-- End Contact Section -->
</main>

<!-- JS Global Compulsory -->
<script src="{% static "plugins/jquery/jquery.min.js"%}"></script>
<script src="{% static "plugins/jquery/jquery-migrate.min.js"%}"></script>
<script src="{% static "plugins/bootstrap/js/bootstrap.min.js"%}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static "plugins/smoothScroll.js"%}"></script>
<script src="{% static "plugins/jquery.easing.min.js"%}"></script>
<script src="{% static "plugins/owl-carousel2/owl.carousel.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"%}"></script>
<script src="{% static "plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script>
<script src="{% static "js/plugins/gmaps-ini.js"%}"></script>
<script src="{% static "plugins/master-slider/masterslider/masterslider.min.js"%}"></script>

<!-- JS Page Level -->
<script src="{% static "js/one.app.js"%}"></script>
<script src="{% static "js/plugins/owl-carousel2.js"%}"></script>
<script src="{% static "js/plugins/datepicker.js"%}"></script>
<script src="{% static "js/plugins/promo.js"%}"></script>
<script src="{% static "js/plugins/testimonials.js"%}"></script>
<script src="{% static "js/plugins/gallery.js"%}"></script>
<script src="{% static "js/forms/contact.js"%}"></script>

<script>
$(function() {
	App.init();
	OwlCarousel.initOwlCarousel();
	Datepicker.initDatepicker();
	ContactForm.initContactForm();
});
</script>

<!--[if lt IE 10]>
	<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"%}"></script>
<![endif]-->

{% endblock content %}
