
{% load cms_tags staticfiles%}

				<!-- Right Sidebar -->
				<div class="col-md-3">

					<!-- Activities -->
					<div class="posts margin-bottom-40">
						<div class="headline headline-md"><h2>Alternative Tours</h2></div>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/atbinicilik.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Horseback Riding</b><br>20€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/balikcilik.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Fishing</b><br>50€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/buzpateni.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Ice Skating</b><br>20€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/cave.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Caves</b><br>80€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/esekciftligi.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Donkey Farm</b><br>40€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/kamping.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Camping</b><br>80€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/kaplica.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Spa</b><br>20€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/kayak.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Skiing</b><br>60€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/piramit.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Pyramids</b><br>50€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/rafting.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Rafting</b><br>60€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/soskoyu.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>SOS Village</b><br>20€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/titonunsiginagi.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Tito's Banker</b><br>20€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/treking.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Trekking</b><br>80€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/yamacparasutu.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Paragliding</b><br>100€ per person</a></p>
							</dd>
						</dl>
					</div>
					<!-- End Activities -->
				</div>
				<!-- End Right Sidebar -->