{% load cms_tags staticfiles%}
				<div class="topbar">
					<ul class="loginbar pull-right">
						<li><a href="/aboutus">HAKKIMIZDA</a></li>
						<li class="topbar-devider"></li>
						<li><a href="/contact">İLETİŞİM</a></li>
						<li class="topbar-devider"></li>
						<li><a href="/gallery">GALERİ</a></li>
						<li class="topbar-devider"></li>
						<li><a href="/hotels">OTELLER</a></li>
						<li class="topbar-devider"></li>
						<li><a href="https://www.facebook.com/Bright-Travel-1629987677029220/"><i class="fa fa-facebook"></i></a></li>
						<li>&nbsp</li>
						<li><a href="https://twitter.com/BosniaBright"><i class="fa fa-twitter"></i></a></li>
						<li>&nbsp</li>
						<li><a href="https://www.instagram.com/bright.tours/"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>