{% load cms_tags staticfiles%}
				<div class="topbar">
					<ul class="loginbar pull-right ">
						<li>{% placeholder 'Turkish Link' %}</li>
						<i class="fa fa-globe fa-lg " aria-hidden="true" ></i>
						<li class="topbar-devider"></li>
						<li><a href="/aboutus">ABOUT US</a></li>
						<li class="topbar-devider"></li>
						<li><a href="/contact">CONTACT</a></li>
						<li class="topbar-devider"></li>
						<li><a href="/gallery">GALLERY</a></li>
						<li class="topbar-devider"></li>
						<li><a href="/hotels">HOTELS</a></li>
						<li class="topbar-devider"></li>
						<li><a href="https://www.facebook.com/Bright-Travel-1629987677029220/"><i class="fa fa-facebook fa-2x"></i></a></li>
						<li>&nbsp</li>
						<li><a href="https://twitter.com/BosniaBright"><i class="fa fa-twitter fa-2x"></i></a></li>
						<li>&nbsp</li>
						<li><a href="https://www.instagram.com/bright.tours/"><i class="fa fa-instagram fa-2x"></i></a></li>
					</ul>
				</div>