{% load cms_tags staticfiles%}
				<div class="col-md-2">
					<ul class="list-group sidebar-nav-v1" id="sidebar-nav">
						<!-- Bosna tours -->
						<li class="list-group-item list-toggle">
							<a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-bosniatours"><b>Bosna Turları</b></a>
							<ul id="collapse-bosniatours" class="collapse">
								<li><a href="../../bosnia-tours/sarajevo-tour">Saraybosna</a></li>
								<li><a href="../../bosnia-tours/sm-tour">Saraybosna-Mostar</a></li>
								<li><a href="../../bosnia-tours/smt-tour">Saraybosna-Mostar-Travnik</a></li>
								<li><a href="../../bosnia-tours/smts-tour">Saraybosna-Mostar-Travnik-Saraybosna</a></li>
								<li><a href="../../bosnia-tours/smjs-tour">Saraybosna-Mostar-Jajce-Saraybosna</a></li>
								<li><a href="../../bosnia-tours/smvt-tour">Saraybosna-Mostar-Travnik-Vişegrad</a></li>
							</ul>
						</li>
						<!-- End Bosna tours-->
						<!-- Balkan tours -->
						<li class="list-group-item list-toggle">
							<a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-balkantours"><b>Balkan Turları</b></a>
							<ul id="collapse-balkantours" class="collapse">
								<li><a href="../../balkan-tours/albania1-tour">Arnavutluk (2 gece 3 gün)</a></li>
								<li><a href="../../balkan-tours/albania2-tour">Arnavutluk (3 gece 4 gün)</a></li>
								<li><a href="../../balkan-tours/bk-tour">Bosna Hersek-Karadağ</a></li>
								<li><a href="../../balkan-tours/bs-tour">Bosna Hersek-Sırbistan</a></li>
								<li><a href="../../balkan-tours/bkkm-tour">Bosna Hersek-Karadağ-Kosova-Makedonya</a></li>
								<li><a href="../../balkan-tours/hk-tour">Adriyatik</a></li>
								<li><a href="../../balkan-tours/km-tour">Kosova-Makedonya</a></li>
								<li><a href="../../balkan-tours/bb-tour">Büyük Balkanlar</a></li>
							</ul>
						</li>
						<!-- End Balkan tours-->
						<!-- Balkan tours -->
						<li class="list-group-item list-toggle">
							<a href="/bosnia-tours/dailytours"><b>Günü Birlik Turlar</b></a>
						</li>
						<!-- End Balkan tours-->
					</ul>

					<!-- Activities -->
					<div class="posts margin-bottom-40">
						<div class="headline headline-md"><h2>Alternatif Turlar</h2></div>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/atbinicilik.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>At Binicilik</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/balikcilik.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Balıkçılık</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/buzpateni.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Buz Pateni</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/cave.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Mağara Gezileri</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/dagoteli.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Dağ Oteli</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/esekciftligi.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Eşek Çifliği</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/kamping.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Kamp</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/kaplica.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Termal Tesisler</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/kayak.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Kayak</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/piramit.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Piramitler</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/rafting.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Rafting</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/soskoyu.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>SOS Köyü</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/titonunsiginagi.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Tito'nun Sığınağı</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/treking.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Treking</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/yamacparasutu.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Yamaç Paraşütü</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
					</div>
					<!-- End Activities -->
				</div>