{% load cms_tags staticfiles%}
				<div class="col-md-2">
					<ul class="list-group sidebar-nav-v1" id="sidebar-nav">
						<!-- Bosna tours -->
						<li class="list-group-item list-toggle">
							<a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-bosniatours"><b>Bosnia Tours</b></a>
							<ul id="collapse-bosniatours" class="collapse">
								<li><a href="../../bosnia-tours/sms-tour">Sarajevo-Mostar-Sarajevo</a></li>
								<li><a href="../../bosnia-tours/smt-tour">Sarajevo-Mostar-Travnik</a></li>
								<li><a href="../../bosnia-tours/8d7n-tour">8 Days 7 Nights Bosnia Tour</a></li>
								<li><a href="../../bosnia-tours/12d11n-tour">12 Days 11 Nights Bosnia Tour</a></li>
							</ul>
						</li>
						<!-- End Bosna tours-->
						<!-- Balkan tours -->
						<li class="list-group-item list-toggle">
							<a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-balkantours"><b>Balkan Tours</b></a>
							<ul id="collapse-balkantours" class="collapse">
								<li><a href="../../balkan-tours/venice-sarajevo">Venice - Sarajevo Tour</a></li>
								<li><a href="../../balkan-tours/green-blue-dream-adriatic">Green&Blue Dream in Adriatic Tour</a></li>
								<li><a href="../../balkan-tours/adriatic-pearl">Adriatic Pearl Tour</a></li>
								<li><a href="../../balkan-tours/fantastic-balkans">Fantastic Balkans Tour</a></li>
								<li><a href="../../balkan-tours/bosnia-croatia">Bosnia - Croatia Tour</a></li>
							</ul>
						</li>
						<!-- End Balkan tours-->
						<!-- Balkan tours -->
						<li class="list-group-item list-toggle">
							<a href="/bosnia-tours/dailytours"><b>Daily Tours</b></a>
						</li>
						<!-- End Balkan tours-->
					</ul>

					<!-- Activities -->
					<div class="posts margin-bottom-40">
						<div class="headline headline-md"><h2>Alternative Tours</h2></div>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/atbinicilik.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Horseback Riding</b><br>20€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/balikcilik.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Fishing</b><br>50€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/buzpateni.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Ice Skating</b><br>20€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/cave.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Caves</b><br>80€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/dagoteli.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Mountain Hotel</b><br>100€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/esekciftligi.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Donkey Farm</b><br>40€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/kamping.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Camping</b><br>80€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/kaplica.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Spa</b><br>20€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/kayak.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Skiing</b><br>60€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/piramit.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Pyramids</b><br>50€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/rafting.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Rafting</b><br>60€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/soskoyu.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>SOS Village</b><br>20€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/titonunsiginagi.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Tito's Banker</b><br>20€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/treking.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Trekking</b><br>80€ per person</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/tabs/yamacparasutu.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Paragliding</b><br>100€ per person</a></p>
							</dd>
						</dl>
					</div>
					<!-- End Activities -->
				</div>